@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:wght@300;400;500;600;800&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
}
.header1 {
  height: 43px;
  border: solid 0.5px lightgray;
  box-shadow: 0.2px 0.2px 1px;

  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 15;
  display: flex;
}
.header2 {
  height: 35px;
  border: solid 0.5px lightgray;
  box-shadow: 0.2px 0.2px 1px;
  line-height: 24px;
  position: sticky;
  background-color: white;
  top: 43px;
  z-index: 15;
  display: flex;
}
.udemyslika {
  width: 110px;
  height: 40px;
  justify-content: left;
  align-items: center;
}
.minimini {
  width: 10px;
  height: 0.5px;
  justify-content: center;
  align-self: left;
  color: gray;
}
#search {
  width: 530px;
  height: 30px;
  border-radius: 50px;
  /* clear: both; */
  margin-top: 4px;
  margin-bottom: 3px;
  border: solid 0.2px lightgray;
  box-shadow: 0.2px 0.2px 1px;
  padding-left: 10px;
  margin-left: 70px;
}
.ub {
  height: 10px;
  width: 100px;
  border: none;
  position: absolute;
  right: 200px;
  top: 15px;
  color: gray;
  font-size: 13px;
}
.tu {
  height: 10px;
  width: 110px;
  border: none;
  position: absolute;
  right: 290px;
  top: 15px;
  font-size: 13px;
  color: gray;
}
.ml {
  height: 10px;
  width: 90px;
  border: none;
  position: absolute;
  top: 15px;
  right: 395px;
  color: gray;
  font-size: 13px;
}
.tajparagraf {
  font-size: 13px;
  /* text-align: right; */
}
.parent {
  width: 900px;
  height: 100px;
  margin: auto;
  position: relative;
  box-shadow: 3px 3px 12px rgba(84, 84, 84, 0.5);
}
.child1 {
  width: 292px;
  height: 100px;
  background-color: white;
  /* clear: both;
  padding: 5px;
  margin-right: 12px; */
  position: absolute;
  /* position: fixed; */
  left: 0px;
  clear: both;
  border: solid 0.5px lightgray;
  z-index: 5;
  box-shadow: 3px 3px 12px rgba(84, 84, 84, 0.5);
}
.satic {
  width: 70px;
  height: 70px;
  margin-top: 0px;
  margin-left: 0px;
  float: left;
  /* clear: both; */
}
.h1 {
  position: absolute;
  top: 5px;
  left: 80px;
  bottom: 95px;
  font-size: 15px;
  width: 150px;
  clear: both;
}
.p1 {
  position: absolute;
  top: 30px;
  /* width: 150px; */
  left: 80px;
  text-align: justify;
  padding-right: 10px;
}
.ispodp {
  /* float: right; */
  position: absolute;
  top: 70px;
  /* clear: both; */
  width: 100px;
  left: 80px;
  bottom: 10px;
  text-decoration: none;
}
.child2 {
  width: 292px;
  height: 100px;
  background-color: white;
  position: absolute;
  left: 300px;
  top: 0px;
  margin-top: 0px;
  border: solid 0.5px lightgray;
  padding: 10px;
  z-index: 5;
  box-shadow: 3px 3px 12px rgba(84, 84, 84, 0.5);
}
.knjige {
  height: 70px;
  width: 70px;
}
.h5 {
  position: absolute;
  top: 6px;
  left: 90px;
  color: gray;
}
.object {
  position: absolute;
  top: 40px;
  left: 90px;
  font-size: 13px;
  color: black;
  text-decoration: none;
}
.cool {
  position: absolute;
  top: 40px;
  left: 90px;
  font-size: 13px;
  color: black;
  text-decoration: none;
}
.h4 {
  position: absolute;
  nav-left: 90px;
  top: 85px;
  font-size: 10px;
}
.h6 {
  position: absolute;
  left: 90px;
  top: 10px;
  font-size: 13px;
  color: gray;
}
.elma {
  margin-left: 160px;
}
.child3 {
  width: 292px;
  height: 100px;
  background-color: white;
  border: solid 0.5px lightgray;
  position: absolute;
  left: 600px;
  top: 0px;
  z-index: 5;
  padding: 10px;
  box-shadow: 3px 3px 12px rgba(84, 84, 84, 0.5);
}

.news {
  height: 70px;
  width: 70px;
}
.main {
  width: 900px;
  height: 300px;
  background-image: url(https://www.321study.com/wp-content/uploads/2021/02/udemy-background.jpg);
  background-repeat: no-repeat;
  margin: 100px auto;
  box-shadow: 3px 3px 12px rgba(84, 84, 84, 0.5);
}

.mini {
  width: 270px;
  height: 110px;
  background-color: white;
  padding: 15px;
  float: left;
  margin: 40px 600px 150px 40px;
  box-shadow: 3px 3px 12px rgba(84, 84, 84, 0.5);
}
.link {
  text-decoration: none;
  display: inline-block;
  border: none;
  margin: 5px;
  color: rgb(125, 120, 120);
  font-size: 13px;
  /* text-align: center; */
}
.klasa1 {
  position: absolute;
  right: 950px;
}
.klasa2 {
  position: absolute;
  right: 890px;
}
.klasa3 {
  position: absolute;
  right: 770px;
}
.klasa4 {
  position: absolute;
  right: 695px;
}
.klasa5 {
  position: absolute;
  right: 585px;
}
.klasa6 {
  position: absolute;
  right: 456px;
}
.klasa7 {
  position: absolute;
  right: 407px;
}
.klasa8 {
  position: absolute;
  right: 340px;
}
.klasa9 {
  position: absolute;
  right: 250px;
}
.klasa10 {
  position: absolute;
  right: 205px;
}
.kont {
  font-family: "Lora", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Shadows Into Light", cursive;
  text-align: justify;
  padding: 100px;
}
